<!DOCTYPE html>
<html lang="en">
  <%- include(`./partials/head.ejs`);%>
  <header>
    <h1 class="welRoot"><strong>Welcome To The Vape Shop</h1></strong>
  </header>

  <title>A Vape Shop</title>
  <body>

    <nav class="navLinks">
      <ul style="list-style-type:none;">
        <li class="aboutUs"><strong>About Us</li></strong> 
      </ul>
      <ul style="list-style-type:none;">
        <li class="contactUs"><strong>Contact Us</li></strong>
      </ul>
      <ul style="list-style-type:none;">
        <li class="admin"><strong>Admin</li></strong>
      </ul>
    </nav>

    <div class="card">
        <a href ="/vapes"><strong>Vapes</strong></a>
      </div>

     <div class="card">
        <a href ="/juices"><strong>Juices</strong></a>
      </div>
      <div class="card">
        <a href ="/hookahs"><strong>Hookahs</strong></a>
      </div>
      <div class="card">
        <a href ="/sheshas"><strong>Sheshas</strong></a>
      </div>
</body>
</html>