<!DOCTYPE html>
<html lang="en">
  <%- include(`./partials/head.ejs`);%>
<body>
  <h1>Welcome to the Vape Shop</h1>
  <nav>
    <ul>
      <li>
        <a href ="/vapes">Vapes</a>
      <li>
        <a href ="/juices">Juices</a>
      <li>
        <a href ="/hookahs">Hookahs</a>
      <li>
        <a href ="/sheshas">Sheshas</a>
      </li>
    </ul>
  </nav>
</body>
</html>