<!DOCTYPE html>
<html lang="en">
  <%- include(`./partials/head.ejs`);%>
  <header>
    <h1><strong>Welcome To The Vape Shop</h1></strong>
  </header>
  <body>

    <div class="card">
        <a href ="/vapes">Vapes</a>
      </div>
     <div class="homeLinks">
        <a href ="/juices">Juices</a>
      </div>
      <div class="homeLinks">
        <a href ="/hookahs">Hookahs</a>
      </div>
      <div class="homeLinks">
        <a href ="/sheshas">Sheshas</a>
      </div>
</body>
</html>