<!DOCTYPE html>
<html lang="en">
    <%- include(`../partials/head.ejs`);%>
<body>
    <h1>Shesha Inventory</h1>

    <nav>
        <a href="/sheshas/new">Add A New Shesha</a>
    </nav>

    <main>
        <% sheshas.forEach(shesha => { %>
           <a href="/sheshas/<%= shesha._id %>"> <%= shesha.name %>
        <% }) %>
    </main>
    <nav>
        <a href="/">Home</a><br>
    </nav>
  

        </body>
        </html>