<!DOCTYPE html>
<html lang="en">
    <%- include(`../partials/head.ejs`);%>
<body>
    <div class="titleBox">
    <h1 class="proTitle"><strong>Shesha Inventory</h1></strong>
    </div>

    <ul>
    <li class="side-menu-li"><a href="/"><strong>Home</a></li></strong>
    <li class="side-menu-li"><a href="/juices"><strong>Juices</a></li></strong>
    <li class="side-menu-li"><a href="/hookahs"><strong>Hookahs</a></li></strong>
    <li class="side-menu-li"><a href="/sheshas"><strong>Shesha</a></li></strong>
    <li class="side-menu-li"><a href="/vapes/new"><strong>Add A Vape</a></li></strong>
    </ul>

    <h1 class="vapeProLabel">Sheshas</h1>

        <ul>
            <% sheshas.forEach(shesha => { %>
                <a href="/sheshas/<%= shesha._id %>"> 
             
            <li class="card2">
            <%= shesha.name %> 
            
        <% }) %>
    </li> 
    </ul>
       
        </body>
        </html>
