<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hookahs</title>
<body>
    <h1>Hookah Inventory</h1>

    <nav>
        <a href="/hookahs/new">Add A Hookah</a>
    </nav>

    <nav>
        <a href="/">Home</a><br>
    </nav>
  

        </body>
        </html>