<!DOCTYPE html>
<html lang="en">
    <%- include(`../partials/head.ejs`);%>
    <title>Hookahs</title>
<body>
    <h1>Hookah Inventory</h1>

    <nav>
        <a href="/hookahs/new">Add A Hookah</a>
    </nav>
    <main>
        <% hookahs.forEach(hookah => { %>
           <a href="/hookahs/<%= hookah._id %>"> <%= hookah.name %>
        <% }) %>
    </main>
    <nav>
        <a href="/">Home</a><br>
    </nav>
  

        </body>
        </html>