<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Hookah Page</title>
</head>
<body>
    <h1>Add Hookah To Inventory</h1>

    <nav>
      <a href="/">Home</a><br>
  </nav>

        <form action="/hookahs" method="POST">
        Name: <input type="text" name="name" /><br />
        Description: <input type="text" name="description" /><br />
        Price: <input type="number" name="price" /><br />
        Qty: <input type="number" name="qty" /><br />
        <input type="submit" name="" value="Add Hookhah" />
        </form>

        <nav>
            <a href="/">Back To Index</a>
        </nav>


</body>
</html>