<!DOCTYPE html>
<html lang="en">
    <%- include(`../partials/head.ejs`);%>

    <title>Edit Juice</title>

<body>
    <h1 class="titleInv">Edit Juice</h1>

        <div class="newProduct">
        <form action="/juices" method="POST">
        Name: <input type="text" name="name" selected class="priMarg"><br />
        
        Flavor: <input type="text" name="flavor" class="priMarg"><br />
        Price: <input type="number" name="price" class="priMarg"><br />
        <input type="submit" name="" value="Edit Juice" class="btn"/><br>
        <input type="submit" value="DELETE" class= "btn"/>
        </form>
        </div>

        <nav class="card2">
            <a href="/juices">Back To Juices</a>
        </nav>
        <nav class="card2">
            <a href="/">Home</a>
        </nav>


</body>
</html>