<!DOCTYPE html>
<html lang="en">
    <%- include(`../partials/head.ejs`);%>
<body>
    <h1>Juice Inventory</h1>

    <nav>
        <a href="/juices/new">Add A New Juice</a>
    </nav>
        <main>
            <% juices.forEach(juice => { %>
               <a href="/juices/<%= juice._id %>"> <%= juice.name %>
            <% }) %>
        </main>
    <nav>
        <a href="/">Home</a><br>
    </nav>
  

        </body>
        </html>