<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juice List</title>
</head>
<body>
    <h1>Juice Inventory</h1>

    <nav>
        <a href="/juices/new">Add A New Juice</a>
    </nav>
        <main>
            <% juices.forEach(juice => { %>
               <a href="/juices/<%= juice._id %>"> <%= juice.name %>
            <% }) %>
        </main>
    <nav>
        <a href="/">Home</a><br>
    </nav>
  

        </body>
        </html>