<!DOCTYPE html>
<html lang="en">
    <%- include(`../partials/head.ejs`);%>
<body>
    <h1>Vape Inventory</h1>

    <nav>
        <a href="/">Home</a>
    </nav>
    <nav>
        <a href="/vapes/new">Add A Vape</a>
    </nav>
        
    <main>
        <% vapes.forEach(vape => { %>
           <a href="/vapes/<%= vape._id %>"> <%= vape.name %>
        <% }) %>
    </main>

        </body>
        </html>
